@font-face {
  font-family: 'Michroma-Regular';
  src: local('Michroma-Regular'),
   url(../assets/fonts/Michroma-Regular.ttf) format('truetype');
}

:root {
  font-family: 'Michroma-Regular';
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  padding: 20px;
}